.Moke_Schedule_Date{
    width:100%;
    height:120px;
    padding-top:10px;
    background: #f6f6f6;
}
.Moke_Schedule_Top{
    width:100%;
}
.Moke_Schedule_SetDateInput{
    display: block;
    border:none;
    background: transparent;
    font-size: 15px;
    width:130px;
    float: left;
    margin-left: 20px;
}
.Moke_Schedule_SetDatePage{
    width:100px;
    float:right;
}
.Moke_Schedule_SetDatePage>img{
    width:20px;
    margin-left: 15px;
    cursor: pointer;
}
.Moke_Schedule_Body{
    width: 100%;
    float: left;
    padding: 0;
    font-size: 12px;
    margin-top:20px;
}
.Moke_Schedule_Body>li{
    float: left;
    list-style-type: none;
    width:6%;
    padding:0 4%;
}
.Moke_Schedule_Body>li>span{
    display: block;
    text-align: center;
    line-height: 20px;
    margin:0 auto;
    border-radius: 10px;
    cursor: pointer;
}
.Moke_Schedule_Body>li>span:last-of-type{
    margin-top:15px;
}
.Moke_Schedule_Selected{
    width:20px;
    height:20px;
    color:white;
    background: deepskyblue;
}
.Moke_Schedule_Important{
    width:19px;
    height:19px;
    border:1px solid darkorange;
}
.Moke_Schedule_Primary{
    width:19px;
    height:19px;
    border:1px solid deepskyblue;
}
.Moke_Schedule_Events{
    width:100%;
    height:100%;
    padding:0;
    font-size: 12px;
    overflow-y: auto;
    float:left;
}
.Moke_Schedule_Events>li{
    width:96%;
    padding:0 2%;
    height: 60px;
    list-style-type: none;
    border-bottom: 1px solid #e9e9e9;
}
.Moke_Schedule_Events>li>span{
    font-size: 11px;
    color:#696969;
    line-height: 35px;
}
.Moke_Schedule_Events>li>p{
    width:100%;
    overflow: hidden;
    margin-top:-8px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.Moke_Schedule_Events>li>p:hover{
    color:deepskyblue;
}
